[2019-01-08 10:18] grinder213 opened #9 "Segfaulting when new software is found"
Application segfaults on armv7 target (Marvell Armada-388 EV board). When hawkbit indicates that a new software is available, the application dies in a g_message call.

Cmake output:
--------------------------------------------------------------------------------------------
-- The C compiler identification is GNU 8.2.0
-- The CXX compiler identification is GNU 8.2.0
-- Check for working C compile

[2019-01-08 17:59] #9 closed

[2020-01-13 09:45] gswebspace opened #17 "Support for offline updates ?"
Hi,

There has been a discussion on offline deployments (ex: manual updates using a USB drive) leading to updating the UI regarding the update information, available [here](https://github.com/eclipse/hawkbit/pull/563) and [here](https://github.com/eclipse/hawkbit/issues/242).

Is this supported by `rauc-hawkbit-updater` when running as a daemon ?

[2020-01-13 10:59] prevas-lkmi commented on #17
No, it is not supported. But you are more than welcome to make a PR.

[2020-01-17 11:15] ejoerns opened #18 "Moving Repository to 'rauc' GitHub Organization?"
Hi,

as this piece of software seems to raise more and more interest for people that look for a non-python alternative of https://github.com/rauc/rauc-hawkbit and do not want to reinvent the wheel, I would like to ask you if you are interested in moving the repository to the rauc organization on GitHub. This could give the project even more attention and makes it visibly belonging to RAUC.

We als

[2020-01-20 07:31] prevas-lkmi commented on #18
Hi Enrico

I see no problem in moving the repository to the RAUC organization, as long I get to be one of the maintainers. I would prefer to move the repository with all issues etc. if it is possible.

-Lasse

[2020-01-20 10:00] Raphexion commented on #18
I don't mind being a maintainer. You guys can decide.

[2020-01-20 11:07] ejoerns commented on #18
@prevas-lkmi Great to hear that, first of all and thanks for your reply!

Yes, transferring will preserve all the issues etc. And the idea is that you, and those of you that would like to can become or remain maintainers (and GitHub Collaborators) of the repo.

For actually transferring the repository it would be required to give me Administrator Collaborator rights on your repository. This can be

[2020-01-22 12:33] prevas-lkmi commented on #18
@ejoerns I have added you as admin now.

[2020-01-22 12:53] ejoerns commented on #18
:+1: let's move!

[2020-01-22 12:55] ejoerns commented on #18
And... welcome to rauc!

[2020-03-16 14:59] ejoerns commented on #18
I'd assume this can be closed now ;)

[2020-03-16 14:59] #18 closed

[2020-04-01 12:23] delhiryder opened #21 "Thread 10 "gdbus" received SIGSEGV. Segmentation Fault"
Hi,
We're trying to integrate the rauc-hawkbit-updater service into an embedded SOM for a client. We are using Bosch IOT Rollouts as the hawkbit server, and have been able to successfully download a rauc bundle. Unfortunately, it is not getting beyond this.

Here is a snippet from the console logs (tenant ID and controller id removed below)

[code]

Any ideas what might be happening here ?

Thanks

[2020-04-01 12:24] delhiryder commented on #21
btw, running a simple (manual) rauc install on the downloaded rauc bundle works fine.

Let me know what (other) information I can share to help you debug.

Thanks,

Sidd

[2020-04-02 05:53] ejoerns commented on #21
@delhiryder If you could build it with debugging symbols on and attach gdb to generate a backtrace of the segfault, we could possibly encircle the problem.

I would have assumed that there is an unhandled failure path in case of a rauc service startup failure, but if it works fine if you invoke it manually, then it should be something else.

For now, I was not yet able to reproduce it, yet.

Regar

[2020-04-02 09:02] ejoerns commented on #21
Not closed. Just used the wrong button...

[2020-04-02 10:03] delhiryder commented on #21
Hello,

As suggested by you, we built rauc-hawkbit-updater with debug symbols for the target, and ran the whole application under GDB. Here is the stdout log of my interactions. I was able to get to line 516 in rauc-installer-gen.c before the thread exited.

(Note: Sensitive information has been removed below).

Please let me know if need any more information.

Regards,

Sidd

(gdb) l install_loop

[2020-04-02 10:05] ctenruh-phytec opened #23 "Segmentation fault caused by "config.conf" file"
Hi,
when using the rauc-hawkbit-updater, we get a SIGSEGV. Segmentation Fault.
We noticed, that the updater crashes while trying to get the data from the “config.conf” file.
It seems, that the Boolean variables in the “config.conf” file are not parsed correctly and because of that the comments, which are declared with a “#” on the same line, are being ignored as comments and written into the varia

[2020-04-02 10:14] ejoerns commented on #23
Comments (in the same line) are not (really) supported by the parser, yes.

Maybe we should remove them from the example, but it should work fine without them @ctenruh-phytec, isn't it?

In any way, it should not segfault for a broken config :)

[2020-04-02 12:03] ctenruh-phytec commented on #23
it works fine when the comments are removed. I will create a pull request for this issue with the edited config file.

[2020-04-02 12:46] prevas-lkmi commented on #21
Hi delhiryder

What version of GLib are you running?
GLib generates rauc-installer-gen.c from rauc-installer.xml, please post rauc-installer-gen.c

Thanks, Lasse

[2020-04-02 14:39] delhiryder commented on #21
Dear Lasse,

    I'm pretty sure the version is 2.0 (I may be wrong, though).

    I was unable to run ldd (not installed), and attempting to execute the .so file itself caused a seg fault, so I ran:

root@phyboard-wega-am335x-2:/# find . -type f -name '*glib*'

and got the following results:

./usr/lib/python3.5/site-packages/gbulb/__pycache__/glib_events.cpython-35.pyc
./usr/lib/python3.5/site-p

[2020-04-06 11:37] delhiryder commented on #21
Good evening,

I was able to determine the version of GLIB we are using on this board - 2.54.3. We even attempted again after removing all compiler optimization from the library, in the hopes that this may fix whatever inherent issue might be showing up.

Unfortunately, we are still getting the same SIGSEGV error (albeit with a slightly different stack trace, which is still corrupted).

Is there a

[2020-04-06 12:36] ejoerns commented on #21
@delhiryder if you are in development, is there any reason to have a glib version of 2017 in use?
If possible, Please update your glib and check if the issue remains.

And, if the error remains, please attempt to also build glib with debugging symbols on,  or load debugging symbols into your GDB so we get a useful stack trace for glib, too.

Regards, Enrico

[2020-04-06 12:50] delhiryder commented on #21
OK. We'll attempt to update.  Am assuming 2.64.2 is a good enough version ?

[2020-04-06 12:58] ejoerns commented on #21
@delhiryder should be, really. It is even more recent than the latest tag on GitHub... ;) https://github.com/GNOME/glib/releases

[2020-04-09 10:10] delhiryder commented on #21
Hello,

We ran into some dependency issues (and out of time) trying to rebuild glib-2.0. I instead focused on getting the rauc-hawkbit (python) client working, and am happy to report that it works ! (took some getting used to, and had to re-install some aiohttp depenendencies).

Will come back to this issue when I have some more time, but it can be closed (for now).

Thank for all the help !

Rega

[2020-04-09 10:28] ejoerns commented on #21
@delhiryder do you use any kind of build systems like Yocto, Buildroot or PTXdist?

[2020-04-10 10:55] delhiryder commented on #21
@ejoerns yes, we use a customized yocto build from Phytec (which we are in turn customizing).

[2020-04-10 17:19] ejoerns commented on #21
@delhiryder Then the way to go is to update the BSP, e.g. to zeus. Otherwise, you use are using outdated software anyway. This is of irresponsible in terms of security and makes you run into issues people solved a long time ago... ;)

[2020-04-14 05:08] #23 closed

[2020-04-24 09:59] fshrOSB commented on #21
We are facing the same problem.

Checking for updates and downloading the bundle works fine, but when the rauc-hawkbit-updater tries to inform RAUC to install the update via D-Bus we also get a `Segmentation fault` right after `DEBUG: Creating RAUC DBUS proxy`.

We are using glib v2.58.3 from Jan 2019 from Poky warrior.

[2020-04-28 11:49] ctenruh-phytec commented on #21
I have the same problem.

After the successful download and right after `DEBUG: Creating RAUC DBUS proxy` the updater throws a segfault. When debugging with gdb i get this output:
[code]
I am also using warrior and glib v2.58.3.

[2020-05-06 08:49] hpatriarche commented on #21
I also facing the same issue when move to latest rauc-hawkbit-updater commit.
Previously, I was on repo from prevas (0985a7bf72f31c9d17c2687f21c5c682593cff71)  and was ok.
Right now, by comparing code, I am not able to determine what's change generate the issue.

[2020-05-06 10:39] Raphexion commented on #21
@prevas-lkmi  @ejoerns If a lot of people have problems with sefaults. Should we try to make a stable branch? So people don't get these problems.

[2020-05-06 14:01] hpatriarche commented on #21
From my test:
removing in
`struct config* load_config_file(const gchar* config_file, GError** error)`

**g_autofree** GKeyFile *ini_file = g_key_file_new();
=>
GKeyFile *ini_file = g_key_file_new();

avoid the SEGV.

of course g_key_file_free need to be called before each return.

BTW, I like the code in general, but I dislike g_autofree statement also on other variable - I am afraid some memory l

[2020-05-06 14:46] fshrOSB commented on #21
@hpatriarche I can confirm that this did resolve the error for us too.

[2020-05-06 15:48] prevas-lkmi commented on #21
I'm trying to figure out what is causing this problem. I can't reproduce it.
@hpatriarche and @fshrOSB can you help me out?
Please try this and report back.

g_autoptr(GKeyFile) *ini_file = g_key_file_new();

[2020-05-06 16:03] fshrOSB commented on #21
@prevas-lkmi I also do not get the segmentation fault that way.

[2020-05-06 16:05] hpatriarche commented on #21
@prevas-lkmi same for me

[2020-05-07 23:36] ejoerns commented on #21
@prevas-lkmi I did not have time to look into this deeper, but this is a very good finding what @hpatriarche revealed here. I have no clue how this is related to where we see the segfault yet, but this is definitely a bug.

To use `g_autofree` for `GKeyFile` should always be wrong as this simply tells to use `g_free()` as the freeing function while with `gautoptr(GKeyFile)` we tell gcc to use the

[2020-05-08 06:03] prevas-lkmi commented on #21
@ejoerns agree this is a bug, and g_autofree GKeyFile is wrong.
@fshrOSB and @hpatriarche thanks for helping out. Can you test again with

g_autoptr(GKeyFile) ini_file = g_key_file_new();

[2020-05-08 10:18] fshrOSB commented on #21
@prevas-lkmi For me this does also prevent the segmentation fault from occurring.
It also gets rid of the warnings @hpatriarche mentioned.

[2020-05-11 07:58] hpatriarche opened #33 "potential SEGV with error"
In function main, when config is NULL, it error could also be NULL so
                ```g_printerr("Loading config file failed: %s\n", error->message); ```
could crash

It miss a test error != NULL to  call error->message

also in load_config_file before returning NULL, it would be better to set error:
`g_set_error(error, xxx) `

like in each call like:
[code]

[2020-05-11 09:16] ejoerns commented on #33
@hpatriarche Where can `config` be `NULL` while `error` isn't?

g_set_error(error, xxx)

Could you point to a line where this is not the case?

This is the default way of GError handling for glib. A function that returns NULL to signalize an error must set GError. Otherwise you would have to add these kind of checks everywhere in the code.

[2020-05-11 12:03] hpatriarche commented on #33
my bad, it was on my changes.

[2020-05-11 12:03] #33 closed

[2020-05-12 11:35] hpatriarche opened #36 "json_root not released in hawkbit_pull_cb"
in function `static gboolean hawkbit_pull_cb(gpointer user_data)`
JsonNode *json_root = json_parser_get_root(json_response_parser);
but it is not unref.

+g_object_unref(json_root);
g_object_unref(json_response_parser);

[2020-05-12 11:49] prevas-lkmi commented on #36
The documentation says the root node is owned by the parser, and you are not allowed to free it.

[2020-05-12 11:52] hpatriarche commented on #36
ok, then

[2020-05-12 11:52] #36 closed

[2020-05-13 04:22] #21 closed

[2020-05-14 07:17] hpatriarche opened #40 "Curl Follow Location"
Hi,

In our version, we added
`curl_easy_setopt(curl, CURLOPT_FOLLOWLOCATION, 1L);`

is it an option that make sense by default ?

[2020-05-14 07:19] jluebbe commented on #40
We have that in rauc's network code as well. So I'd say yes...

[2020-05-14 07:30] hpatriarche opened #41 "<stdbool.h> not required"
Sharing a minor change:

[code]

[2020-05-14 07:50] ejoerns commented on #41
Yes, stdbool should not be required as we use gboolean from glib together with its defines `TRUE` and `FALSE`.

Thus @hpatriarche would you like to make a PR of it?

[2020-05-14 07:55] Raphexion commented on #40
I think it makes a lot of sense. Is there any risk adding this?

[2020-05-25 15:11] hpatriarche opened #42 "rauc-hawkbit-updater failed when dbus is restarted"
According to my testing, `rauc-hawkbit-upater` failed when dbus process is restarted.

`rauc-hawkbit-updater.service` should also set statement:
[code]
in order to restart in case rauc or dbus failure

[2020-06-26 07:24] hpatriarche opened #43 "g_object_unref: assertion 'G_IS_OBJECT (object)' failed"
This error is coming from;
[code]
in case  json_response_parser is NULL
[code]
jumping in proc_error:
[code]

[2020-06-30 09:39] mschwan-phytec commented on #43
One cannot pass `NULL` to `g_object_unref()`. Does this fix the issue for you?
[code]

[2020-06-30 10:01] mschwan-phytec opened #44 "systemd service assuming user and group "rauc-hawkbit""
Is there a specific reason for specifying a user and group for the systemd service?
[code]
This assumes the target system has such a user, which I'd argue is not the case for almost all systems by default. Would it be an option to leave this out and let users add their own user and group if they want? Otherwise the service simply will not start.

@prevas-lkmi Can you elaborate on this?

[2020-06-30 10:09] ejoerns commented on #42
@hpatriarche As RAUC can be started via D-Bus activation, it should not be necessary to require the rauc.service. Maybe `After` is sufficient?

[2020-07-01 09:04] hpatriarche commented on #43
I have same fix on my sandbox.

[2020-07-01 09:19] ejoerns commented on #43
This part of the code needs a major rework to my opinion, but having this distinct bug fixed first should not prevent us from that.

However, this is also fixable by not going to `proc_error` if `rest_request()` fails butdirectly returning `FALSE` as in the error paths above.

The implementation of rest_requests() ensures that it only sets `json_response_parser` if `status == 200`. Thus there is n

[2020-07-02 12:46] ejoerns commented on #44
I guess this should prevent from running rauc-hawkbit as root, which makes sense in terms of system hardening. Systemd does this too, by default, e.g. for systemd-timesyncd.

I haven't tested yet what this would mean for the user configuration. Just adding the user is something one could simply do in a Linux build system recipe, but we should make sure this actually works somehow then.

[2020-07-02 13:10] ejoerns commented on #40
Many projects set this [1], thus I don't see why we shouldn't.
I'd expect location following to be the common default and not following it only for specific reasons.
The reasons it is not the default in libcurl to my knowledge is only that the libcurl default way is to have almost everything turned off unless explicitly enabled.
As documentation and examples state, this should be used together wit

[2020-07-02 13:15] mschwan-phytec commented on #44
Simply issuing `useradd rauc-hawkbit` makes the service run, so I guess there is nothing special to it.

I can prepare a pull-request in meta-rauc, if that's appropriate?

[2020-07-08 12:51] #44 closed

[2020-08-14 12:23] rfuentess opened #45 "hawkbit-client.c: memory leak on debug messages"
hawkbit-client. c is making use of `json_to_string()` for debugging messages ([1](https://github.com/rauc/rauc-hawkbit-updater/blob/master/src/hawkbit-client.c#L641), [2](https://github.com/rauc/rauc-hawkbit-updater/blob/master/src/hawkbit-client.c#L750)). However, this is provoking a small leak as said function returns a `char *` that must be released manually.

A possible fix could be:

[code]

[2020-08-14 22:38] ejoerns commented on #45
@rfuentess You're right, this is still an issue.

I'd suggest making use of autofree as we already do in other locations, too. Thus something like

[code]

[2020-08-17 07:44] rfuentess commented on #45
I'm new to this macro.  But because `gchar` is an alias for `char`  I think we are going to be fine :)
I'll run some tests just to be sure and then I'll proceed to generate the PR

[2020-08-18 14:43] #45 closed

[2020-09-04 07:57] ejoerns commented on #43
Du to the used syntax, this was not automatically closed (but fixed) by #51.

We can close this manually now.

[2020-09-04 07:57] #43 closed

[2020-09-04 07:57] ejoerns commented on #42
Any update on this? Ist that resolved?

[2020-09-08 05:20] #40 closed

[2020-09-08 05:23] #41 closed

[2020-09-25 08:22] rfuentess opened #57 "Update .gitignore for the temporary files generated by uncrustify"
Hi,

I was playing with the code a little when I run `uncrustify.sh` to guarantee the your code convention. That is when I noticed that uncrustify leftovers are not ignored. Not a big deal, but if one is lazy at the moment of calling `git add` we may end with trash on the commits, wasting time on the PR reviews .

As a mitigation, `.gitignore` may be updated  to include the following lines:
[code]

[2020-09-25 10:35] ejoerns commented on #57
Sound good, seems I missed that when porting the script from the rauc repo (there we have the .gitignore line), would you like to make a PR with that?

[2020-10-14 13:20] #57 closed

[2020-11-06 15:48] einoj opened #60 "Stable version tags"
Could you make tags for stable versions of this software?

[meta-rauc](https://github.com/rauc/meta-rauc/blob/dunfell/recipes-support/rauc-hawkbit-updater/rauc-hawkbit-updater_git.bb) is currently supplying an unstable version of rauc-hawkbit-updater, commit d909982e9e which does not include https://github.com/rauc/rauc-hawkbit-updater/pull/35. It would save time debugging, a fixed issue https://g

[2020-11-28 12:00] sprhawk opened #62 "Any suggestion support install casync bundle from hawkbit?"
I'm building casync bundle for minimizing updates size.

But I see hawkbit only support upload files not directory of `castr`

So can I specify location of `castr` or other means to do update casync bundle via  hawkbit?

I see `casync` section in [Reference](https://rauc.readthedocs.io/en/latest/reference.html), I can specify `storepath`, if this will be a static path, how can I migrate different

[2020-11-30 00:30] ejoerns commented on #62
@sprhawk Yes, the way this is meant to work is that hawkBit provides you only the RAUC bundle containing the chunk index file. Access to your server's chunk store happens fully independent of hawkbit.

When not using hawkBit, the default lookup location would be right next to the original bundle URL on the server. This information about the original bundle location is actually lost when using hawk

[2020-12-04 09:54] sprhawk commented on #62
@ejoerns thanks.

[2020-12-04 09:54] #62 closed

[2021-01-26 11:53] #42 closed

[2021-01-26 14:02] SijmenHuizenga opened #73 "Status command"
We are working on an embedded device where the user will have to manually trigger the download & install of an update when one is available. We will be calling `rauc-hawkbit-updater --run-once` whenever the user requests to install an update. We want to show the details of the upcoming update to the user before downloading.

We need a way to know what rauc-hawkbit-updater would do if it were invok

[2021-01-26 15:14] Bastian-Krause commented on #73
FYI: `--run-once` does not work for this at the moment, neither the download nor the install thread can finish in this case (c65e3c5). I have patches in my queue that are waiting for #68, #71, and a (to be created) "hawkbit client refactoring" PR to get merged before. These patches make the rauc-hawkbit-updater wait for the download and install threads properly. I needed them to allow download/ins

[2021-01-27 13:22] SijmenHuizenga commented on #73
Thanks a lot @Bastian-Krause for the details explanation :heart:. I now see the problem with using `--run-once`, so we won't be using that. The plan changed to downloading the files directly and calling rauc through the d-bus api. Thanks :smile:

[2021-01-27 13:22] #73 closed

[2021-01-27 14:50] Bastian-Krause commented on #60
We're currently in the process of refactoring the code base, transforming the tests to pytest (which allows us actual download and installation tests) and adding documentation. Once we're done with this, we can prepare a release. I'd like to be able to create a release tarball, so we need to integrate support for that first.

[2021-03-24 13:18] MitchGaines opened #78 "GError HTTP Request Failed with Server"
Hi there,

I have been struggling with the `rauc-hawkbit-updater` service for a few days now and keeping hitting the error below when I try to deploy a new artifact.

Here is my rauc-config.conf file:
[code]

Whenever I try to run with the above config file, this is the result:
[code]

Based on that response, it seems to be successfully communicating with my server. As for why it is failing to pul

[2021-03-24 14:37] Bastian-Krause commented on #78
Hi there!

What version of rauc-hawkbit-updater are you using?

This coding issue should be solved with PR #77. Could you test this?

[2021-03-24 15:07] Bastian-Krause commented on #78
Trying a shot in the dark: the `target_name` line in your config contains a trailing space, try to remove it. I guess the comment in the `auth_token` line is not there in your actual config, right? Make sure, there is no trailing space in that line either (and in all other lines).

[2021-03-24 16:27] MitchGaines commented on #78
@Bastian-Krause Thanks for the quick response on this.

Looks like I'm running version 0.1:

[code]

Thanks for your shot in the dark here. Looks like the trailing space was an issue :facepalm:

However,  when I removed the trailing space it has presented another issue. So, at the risk of being one of those "ask a million unrelated questions on a single issue" type of people, I'm just going to fir

[2021-03-24 20:48] ejoerns commented on #78
@MitchGaines Currently, all revisions identify themself as 0.1 unfortunately. Do you know from which git / BSP / recipe version you built that? Please try to update to current master if it isn't already and check if things change.

From what I see in the log I would assume that the download attempt failed completely. Maybe check if manually downloading via curl or with a much smaller artifact work

[2021-03-25 08:29] Bastian-Krause commented on #78
You're running into `CURLE_OPERATION_TIMEDOUT` (see [here](https://github.com/curl/curl/blob/8593b15c77f7f2a73512261a0b0b97a64e5e93c8/lib/strerror.c#L144)). [Curl's documentation](https://curl.se/libcurl/c/libcurl-errors.html) reads:

That means your download is slower than 100 bytes/sec during 60 seconds (see [here](https://github.com/rauc/rauc-hawkbit-updater/blob/5a55ab7bc5ac1f14d8938fb3475dc13

[2021-03-25 13:17] MitchGaines commented on #78
Built from `dunfell` of `meta-rauc`. To update to current master, I have modified `meta-rauc/recipes-support/rauc-hawkbit-updater/rauc-hawkbit-updater_git.bb:7` to specify the master branch of this repo as follows (though, I _think_ this is the default already - I'm not 100% sure though):
`SRC_URI = "git://github.com/rauc/rauc-hawkbit-updater.git;protocol=https;branch=master"`

After doing this, I

[2021-03-25 13:17] #78 closed

[2021-03-25 13:23] ejoerns commented on #78
The relevant line here is the `SRCREV` setting!

https://github.com/rauc/meta-rauc/blob/dunfell/recipes-support/rauc-hawkbit-updater/rauc-hawkbit-updater_git.bb#L8

The state used there is 28900b59859d80d2e5275ad03278b0b76e7f1b51 while the recent master is 5a55ab7bc5ac1f14d8938fb3475dc13a181fab06.

[2021-03-25 16:06] MitchGaines commented on #78
Ahh yes, gotcha. Okay, so I have changed it to be the most recent master. Unfortunately, still experience the same behavior.

Going to need to play around getting curl to download the artifact. It also seems to be timing out even with the `--connect-timeout 600` added onto it. Odd.

[code]

[2021-04-22 07:18] motto-phytec opened #85 "updater use http for deploymentBase link instead of https (301 Moved Permanently)"
rauc-hawkbit-updater can connect successfull with the hawkbit. check for new software is ok.
the rauc-hawkbit-updater do not use https for the deploymentBase. My old version (commit id (28900b59859d80d2e5275ad03278b0b76e7f1b51) use https and it runs.

[code]

config file is
[code]

[2021-04-22 08:24] Bastian-Krause commented on #85
Hi,

the `depoymentBase` URL is used as given by hawkBit since 8624e71a. Before that the URL was handcrafted. In my opinion the correct way is to use the URLs as provided by hawkBit.

I guess you are using some kind of SSL reverse proxy that hawkBit is not aware of?

[2021-04-23 06:34] motto-phytec commented on #85
Hi

thank you for your help.  A configuration in hawkbit with the credentials seems the reason for the problem.
so the issue can be closed

[2021-04-23 06:34] #85 closed

[2021-04-23 08:24] Bastian-Krause commented on #85
Thanks for the feedback. Could you tell us which hawkBit option is the solution for your issue?

[2021-04-27 07:10] motto-phytec commented on #85
The option in the “application.properties"
`server.use-forward-headers=true`
will ignored with the migration to Springboot 2.2 at hawkbit 0.3.0M7
The replacement is
`server.forward-headers-strategy=NATIVE`

[2021-04-27 08:10] Bastian-Krause commented on #85
Thanks for pointing out the solution!

[2021-05-04 19:28] hmenn opened #87 "HTTP Request failed with 301"
Hi, I've decided to use newer version of updater in our system but I got an error.

I was using b38f5a580ab66845d7376b276c80da4b2396337d previously and Now, using latest commit cc2cd6e2f55c547d78a365f024a2ab5e40bbb22e.

I've also tested 5a55ab7bc5ac1f14d8938fb3475dc13a181fab06 but no success.

Here's the log message that I've got

[code]

Does anyone has an idea?

[2021-05-04 20:24] hmenn commented on #87
A small update: a5d0bda1aa37107fa59937f363d231ae6dc3726e work but next commit 91e9701959b132f3825df2289f2ec1fea94553a7 doesn't work. It looks like my problem is related with #68

[2021-05-04 21:41] hmenn commented on #87
It looks like problem is related with Hawkbit Server but We've realized that after changes on process_deployment and build_api_url. Previous implementation was using some part of ```$._links.deploymentBase.href``` and config file defitions to produce new deployment URL but currently it uses what server send in response. Strange thing is my server returns http path instead of https address.

I deci

[2021-05-05 08:28] Bastian-Krause commented on #87
A similar issue was reported in #85. Could you try the solution mentioned there?

[2021-06-02 16:29] Bastian-Krause commented on #87
@hmenn Did you try the solution I mentioned?

[2021-06-03 08:18] hmenn commented on #87
@Bastian-Krause I've opened an upgrade request to our Hawkbit Server Maintainence team. I'm still waiting response from them until them I think we can close issue. I'm using old version of rauc-hawkbit-updater for now.

[2021-06-03 08:26] Bastian-Krause commented on #87
Okay, feel free to reopen if the issue persists.

[2021-06-03 08:26] #87 closed

[2021-06-04 09:20] ejoerns commented on #60
We are now at a point where cleanup and rework are done from my perspective. We've addressed the above-mentioned show stoppers for a release (powerful pytest-based tests and basic documentation). Maybe that's the point now for creating a release and adding new features afterwards.

@prevas-lkmi what do you think about that?

[2021-06-04 09:31] Bastian-Krause commented on #60
Do we need mechanics to create a release tarball? And what about #82?

If the solutions to those questions require more effort than we are currently able to carry out, I'm in favor of tagging a release "as is" rather than waiting for another couple of months.

[2021-06-07 07:49] prevas-lkmi commented on #60
I agree it would be nice to create a "as-is" release now. But before doing that, we should consider to update VERSION in rauc-hawkbit-updater.c? 1.0?

[2021-06-07 08:38] ejoerns commented on #60
Yes, something above 0.1 (which we have in all versions up to now already) sounds appropriate. From my perspective 1.0 sounds quite mature and despite some features are still missing I would consider the code as 'quite mature' now. So fine for 1.0 from my side (before ending up as a project that's never brave enough to switch :D ).

Additional things to care about:

* adapt CHANGES file to 1.0
* a

[2021-06-07 09:21] Bastian-Krause commented on #60
It would be cool to have #90 included. Apart from that, no, can't think of anything we forgot.

[2021-06-08 11:10] ejoerns commented on #60
Fine!

@prevas-lkmi do you take control over the finalization process for the release? Or do you want me/us to care about this?

[2021-06-08 11:54] prevas-lkmi commented on #60
@ejoerns I can do the finalization process. No problem.

[2021-06-13 14:58] Bastian-Krause commented on #60
@prevas-lkmi I just stumbled upon a use-after-free and a locking issue. Could you please wait with the release wait until these bugs are squashed? Thanks!

[2021-06-14 04:57] prevas-lkmi commented on #60
@Bastian-Krause, no problem.

[2021-06-17 10:25] Bastian-Krause commented on #60
@prevas-lkmi Could you have a look at #92 and #93? If these PRs are merged, we should be good to go.

[2021-06-30 09:51] Bastian-Krause opened #96 "Trailing spaces in config values are not stripped"
This can lead to strange situations depending on the configuration option. If `target_name` contains trailing spaces, polling the base resource succeeds:
[code]
But other resources fail:
[code]

We saw reports of this in #78 and elsewehere. So trailing spaces should be stripped in all config options.

[2021-06-30 10:47] Bastian-Krause opened #97 "tenant_id/target_name are not encoded properly"
Configuring `tenant_id` or `target_name` with spaces or special characters leads to errors. These URL components should be properly URL-encoded.

[2021-07-01 14:44] Bastian-Krause commented on #97
Spaces are not allowed. For everything else hawkBit seems to act inconsistent. I've created eclipse/hawkbit#1135 for clarification.

[2021-09-14 13:44] #96 closed

[2021-09-15 12:43] ejoerns commented on #60
We just released v1.0. So this can be closed now :tada:

Thanks to all contributors and especially to @prevas-lkmi for founding this project!

[2021-09-15 12:43] #60 closed

[2021-09-15 14:44] ejoerns opened #107 "Feature Wish List"
Note: This was in the Wiki before as 'Roadmap'. Moved it to an issue to close the (unused) wiki but not lose these items.

- [ ] "Ask" permission to download (D-BUS).
- [ ] "Ask" permission to install (D-BUS).
- [ ] Expose download and install progress via D-BUS (like Rauc service does).
- [ ] Support casync

[2021-09-15 14:53] jluebbe commented on #107
Why should this be in rauc-hawkbit-updater instead of rauc itself?

Isn't this better handled by using RAUC's streaming mode? I wouldn't like to just wrap the existing rauc D-Bus API.

[2021-09-15 15:20] ejoerns commented on #107
The real download of a bundle (assuming not using streaming support) cannot be handled by RAUC as it happens before RAUC gets actually called. Asking permission for installation instead could be handled by RAUC.
A possible drawback could be that Hawkbit would assume the installation is started and in progress as long as the update was not confirmed (assuming physical interaction e.g.). Maybe this

[2021-09-15 15:20] #107 closed

[2021-09-16 16:43] j-licht opened #109 "downloaded bundle has the wrong owner"
The downloaded bund is saved with the owner root:rauc-hawkbit-updater and permissions 644.
rauc-hawkbit-updater is running by the systemd service file.
So the updater fails to delete the old bundle either to download a new one.

[2021-09-17 14:20] j-licht commented on #109
I think to owner is changing in the update process by the rauc tool running as root.
So what's the correct way to run rauc-hawkbit-updater as unprivileged user?

[2021-09-20 08:24] jluebbe commented on #109
If the download directory belongs to the rauc-hawkbit-updater user, it should be able to delete the bundle.

[2021-09-20 08:38] j-licht commented on #109
The example config uses /tmp/bundle.raucb.
So should be the right way to use a subfolder of /tmp?

[2021-09-20 08:43] jluebbe commented on #109
The proper location depends on your expected bundle sizes and where you have enough temporary space for the download.

[2021-09-20 09:37] j-licht commented on #109
OK. I have a readonly rootfs and the /tmp dir is a tmpfs.
As I see rauc-hawkbit-updater doesn't create the tmp dir, so should I add a mkdir to the service file?

[2021-09-23 20:58] Bastian-Krause commented on #109
Seems like the correct approach for your use case.

[2021-10-04 13:34] Bastian-Krause commented on #109
@j-licht Did that work out for you? Is there anything that would have made figuring it out easier (like a comment in the docs)?

[2021-10-05 09:16] j-licht commented on #109
I'm not quite sure in which scenario the default config with download location /tmp/bundlle.rauc and default service file running rauc-hawkbit-updater as unprivileged user is working at all.
My suggestion is to change the default config and service file to use a subfolder of /tmp, or I missed something?
I can open a PR if this helps.

[2021-10-05 12:04] Bastian-Krause commented on #109
RAUC only takes ownership of [plain format bundles](https://rauc.readthedocs.io/en/latest/reference.html#plain-format). If you use [verity format bundles](https://rauc.readthedocs.io/en/latest/reference.html#verity-format) (the [recommended](https://rauc.readthedocs.io/en/latest/integration.html#kernel-configuration) format), the example download location works as is.

Since we are talking about t

[2022-01-06 10:49] lab-w opened #117 "Temporarily no network connectivity: Scheduled check for new software failed"
Hello,
thanks for this nice piece of software. I just switched from rauc-hawkbit-client to rauc-hawkbit-updater and noticed a bug:
when I execute rauc-hawkbit-updater from an autostart script it only prints these two lines and after that it does not retry to connect again:
[code]
probably this line is also printed (but not written to my log file):
[code]

It is possible that at that point in time

[2022-01-06 11:02] lab-w commented on #117
I just noticed that there is in fact a retry after some minutes so the connectivity is there when I wait for some more minutes than I expected.

[2022-01-06 11:02] #117 closed

[2022-01-06 11:17] ejoerns commented on #117
@lab-w Glad it works for you now.

Please consider using a more recent version of rauc-hawkbit-updater. The error message means that you use a version from before the initial release of this project.

We've added a lot of options and enhancements concerning retry/resume handling since this and fixed a number of issues.

[2022-01-06 11:25] Bastian-Krause commented on #117
Also note that you can decrease the time rauc-hawkbit-updater waits in these cases with the `retry_wait` config option, see [here](https://rauc-hawkbit-updater.readthedocs.io/en/latest/reference.html#configuration-file). The default for that value seems to documented incorrectly, though. It is 300 s, not 60 s.

[2022-01-06 11:34] lab-w commented on #117
Thank you both for the quick replys.

@ejoerns Thank you for the hint - updating the client is on my list ;-)

@Bastian-Krause Thanks! This solves my "problem". Now I reduced the timeout in the config file and it works like it should.

[2022-01-17 05:50] gswebspace commented on #17
Thanks for the update @prevas-lkmi and @Bastian-Krause .

We decided to stick to online updates since that is what we want to do 99% of the times for devices in the field.

If anyone feels this functionality is critical to rauc-hawkbit-updater, they may open the issue again, but for now the issue can be closed.

[2022-01-17 09:25] #17 closed

[2022-01-31 11:04] einoj opened #121 "hawkbit URL regression"
I am unable use the new tags v1.0 and v1.1. I've identified the issue stemming from a regression caused by commit 8624e71accf751c370ffe4a3f12ee220a103be79

I had a look at the old code https://github.com/rauc/rauc-hawkbit-updater/blob/cbafe6522b671b0f34a86779e98b48d92ca40b4f/src/hawkbit-client.c#L638
and the new https://github.com/rauc/rauc-hawkbit-updater/blob/8624e71accf751c370ffe4a3f12ee220a103

[2022-01-31 15:57] Bastian-Krause commented on #121
Hi,

please run rauc-hawkbit-updater with `--debug`. This should print the json responses from the server. I'd like to see the response to the base resource, similar to [this example](https://www.eclipse.org/hawkbit/rest-api/rootcontroller-api-guide/#_response_example).

[2022-01-31 16:18] Bastian-Krause commented on #121
Might be similar to #85.

[2022-02-01 08:51] einoj commented on #121
Hi,

Thanks for the feedback. With the --debug flag running v1.1 I get the same result as with GDB

[code]

I'll have a look at the example and #85

[2022-02-01 09:01] einoj commented on #121
with commit https://github.com/rauc/rauc-hawkbit-updater/commit/8624e71accf751c370ffe4a3f12ee220a103be79 the error message is slightly different

[code]

And with the parent commit https://github.com/rauc/rauc-hawkbit-updater/commit/cbafe6522b671b0f34a86779e98b48d92ca40b4f it works fine

[code]

[code]

[2022-02-01 09:26] Bastian-Krause commented on #121
Okay, then this is expected behavior. rauc-hawkbit-updater queries the deploymentBase resource as advertised by your hawkBit instance. Quoting myself:

[[1]](https://github.com/rauc/rauc-hawkbit-updater/issues/85#issuecomment-824645400)

 What makes hawkBit think that your instance is running on `hawkbit:8080`? If you fix your hawkBit configuration, rauc-hawkbit-updater will also work. I am not a

[2022-02-01 09:41] ejoerns commented on #121
Maybe someone who successfully fixed this should add a hint to the documentation on how to fix/configure this in hawkBit.

[2022-02-01 11:57] einoj commented on #121
It was indeed the same issue as #85.
This was the fix: `server.forward-headers-strategy=NATIVE` along with setting the correct incoming "Host:" header.

[2022-02-01 11:57] #121 closed

[2022-04-04 16:48] Bastian-Krause commented on #109
@j-licht Right, would you care to create a PR to change the bit in the documentation?

[2022-06-09 05:54] surabhiashok1 opened #131 ""CMakeFiles/Makefile2:67: recipe for target 'CMakeFiles/rauc-hawkbit-updater.dir/all' failed" - when cross compiling with aarch64"
I am cross compiling the rauc-hawkbit-updater with aarch64. I created tool chain file and added the cross compiler related options and cmake was successful. but make command is giving the error. The build error log of make command is below.

[code]

[2022-06-09 07:57] ejoerns commented on #131
This looks like an issue within your toolchain as most of these errors are caused by your toolchain's headers.

Seems unrelated to rauc-hawkbit-updater.

Feel free to use a toolchain from this century.

[2022-06-09 07:57] #131 closed

[2022-06-10 08:43] surabhiashok1 opened #132 "Can anyone please provide the steps for cross compiling the rauc-hawkbit-updater on raspberrypi with the aarch64?"

[2022-06-10 20:22] Bastian-Krause commented on #132
https://cmake.org/cmake/help/book/mastering-cmake/chapter/Cross%20Compiling%20With%20CMake.html

But you should rather use a build system, e.g. [Yocto]() or [ptxdist](https://git.pengutronix.de/cgit/ptxdist/tree/rules/rauc-hawkbit-updater.make).

Please use a recent build system and toolchain version, as you were already told in  https://github.com/rauc/meta-rauc/issues/222 and #131.

[2022-06-10 20:22] #132 closed

[2022-06-10 21:39] CaidenKehrer opened #133 "Rauc hawkbit, azure docker container returns 301"
We have set up hawkbit in azure app services using an app service https certificate.

We also have this as our rauc manifest config.

  hawkbit_server            = myserver.com
  ssl                       = true
  ssl_verify                = false
  tenant_id                 = DEFAULT
  target_name               = 127086
  auth_token                = token
  bundle_download_location  = /mnt/data/r

[2022-06-10 23:05] adamwendel commented on #133
co-worker here. issue was actually in the application.properties in hawkbit. needed to set the following:
`hawkbit.artifact.url.protocols.download-http.protocol=https
server.forward-headers-strategy=NATIVE`

[2022-06-11 04:29] #133 closed

[2022-06-29 09:42] Sherry112 opened #134 "Invalid checksum Error - Yocto OS Update"
Hello!,
I want to do an OS update with Yocto. I am using rauc-hawkbit-updater and rauc for the delivering the OS to the device and for installing the OS respectively. Hawkbit is in sync with AWS S3 bucket which has the OS distribution.

Rauc-Hawkbit-Updater downloads the OS file from hawkbit, however it is throwing this error **Software: DeviceOS VR1.3.4. Invalid checksum: da39a3ee5e6b4b0d3255bfef

[2022-06-29 10:12] ejoerns commented on #134
The sha1sum announced by hawkBit for the bundle does not match the calculated sha1sum of the downloaded bundle.
Thus either the sha1sum listed in the details of the artifacts is wrong or something changed the artifact during download.

DId that happen once or is this reproducible?

Is the downloaded bundle still a valid bundle and accepted by RAUC?

[2022-06-29 12:51] Sherry112 commented on #134
So rauc doesn't show up any logs, as the process ends on Rauc-hawkbit-updater.
Yes, the issue is reproduceable and it is happening when I try to rollback the OS version 1.3.5 -> 1.3.4 (occurs everytime).
If I try to move 2 versions up, the same error shows up.

However on just updating 1 version up, the checksum is valid and the error doesn't show up.
Does it have to do with the order of OS distri

[2022-06-29 21:56] Bastian-Krause commented on #134
Let's find out if rauc-hawkbit-updater or hawkBit cause this:

This script does basically the same thing as rauc-hawkbit-updater. It downloads the artifact that is being deployed and checks its sha1sum. The sha1sum hawkBit calculated is also shown. So please deploy the problematic file, adjust `HAWKBIT`, `TARGET_NAME`, `TARGET_TOKEN` to your setup and run it:

[code]

[2022-07-11 09:40] Bastian-Krause commented on #134
@Sherry112 Did you find the culprit for the checksum mismatch?

[2022-08-05 10:29] einoj opened #136 "Handle network errors instead of starting rauc-hawkbit-updater after network-online.target"
This pull request https://github.com/rauc/rauc-hawkbit-updater/pull/86 sets rauc-hawkbit-updater to start after network-online.target. The PR links https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/ which states that waiting for network-online.target is a poor solution.

It goes on to state:

...

...

IMO rauc-hawkbit-updater should handle the network errors and try again later rath

[2022-08-05 11:02] Bastian-Krause commented on #136
Hi!

rauc-hawkbit-updater handles network errors just fine, in that case it tries again after a number of seconds specified in `retry_wait` (see [docs](https://rauc-hawkbit-updater.readthedocs.io/en/latest/reference.html#configuration-file)).

Why is `After=network-online.target` wrong here? I agree that software should not rely on a working network connection, but I can't see any value added for

[2022-08-10 12:20] Bastian-Krause commented on #134
@Sherry112 I'd still like to understand what's causing the checksum mismatch. Any news regarding this?

[2022-08-12 09:02] einoj commented on #136
Turns out this was just a misconfiguration by me. After enabling the correct "wait" service, rauc-hawkbit-updater starts as soon as any of the network interfaces are online. Great!

I also tested starting rauc-hawkbit-updater before the network was online whereupon it will print a failed to resolve message and try again later, so it works perfectly fine that way too.

[2022-08-12 09:02] #136 closed

[2022-08-12 09:04] Bastian-Krause commented on #136
Thanks for the feedback, much appreciated!

[2022-08-30 12:54] BubuOT opened #137 "Improve reboot behaviour"
The [docs](https://rauc-hawkbit-updater.readthedocs.io/en/latest/reference.html) for the `post_update_reboot` flag currently state:

This sounded a bit too scary for us, so we patched this to instead call `sudo systemctl reboot` via `system()` (with whitelisted `systemctl reboot` cmd in sudoers file). While that works, relying on sudo and calling the external cmd isn't really great either. It seem

[2022-08-30 14:23] ejoerns commented on #137
FTR: We had similar discussions in the PR (#39) that the option originates from:

https://github.com/rauc/rauc-hawkbit-updater/pull/39#issuecomment-766839767

One of the options I could think of is a D-Bus interface that allows us to notify another service/application which then handles the graceful shutdown.

[2022-10-05 21:32] ejoerns commented on #134
I will close this due to inactivity. Feel free to reopen if the error persists or if it can be reproduced by someone else.

[2022-10-05 21:32] #134 closed

[2022-10-18 12:56] lreinecke opened #141 "Compilation doesn't work since change to meson"
I am trying to compile this code, but everytime I run `meson setup build` ther is an error `ERROR: Neither directory contains a build file meson.build.`. I use this command in the base folder of the project `.../rauc-hawkbit-updater/`. Do you know how to fix this?

I use a crosscompiler. With cmake it worked fine. This schould not be a problem with meson?

[2022-10-18 13:15] Bastian-Krause commented on #141
Very strange. Could you please post the complete output of these commands?

[code]

[2022-10-18 13:37] lreinecke commented on #141
I tried a bit with your commands. This was the result:
![Console Output 1](https://user-images.githubusercontent.com/96118883/196444663-9ef3a983-1c03-4eb7-91d5-5785de0b92ae.PNG)
![Console Output 2](https://user-images.githubusercontent.com/96118883/196444741-1a1e218c-cf22-4b54-affc-8a40a897094f.PNG)
![Console Output 3](https://user-images.githubusercontent.com/96118883/196445044-5e60b71d-bce5-4885

[2022-10-18 14:09] Bastian-Krause commented on #141
What version of meson are you using? Is there a wrapper around your meson or is it called directly?

You could add "strace" before meson to see where it's actually looking for the meson.build. But if these basic operations do not work as intended, I don't have high hopes that everything works as expected if this error is gone..

[2022-10-18 14:17] lreinecke commented on #141
It worked fine, without the crosscompiler. So its a problem with the crosscompiler, and not with your code.

[2022-10-18 14:19] Bastian-Krause commented on #141
Yes, I suspected that.

[2022-10-18 14:20] lreinecke commented on #141
Thanks for your time. I suppose I have to solve this problem fo my own.

[2022-10-18 14:30] Bastian-Krause commented on #141
If the solution might help others, please post it here. Thanks.

[2022-10-18 14:30] #141 closed

[2022-10-19 22:48] eli-schwartz commented on #141
The two directories in question that "neither" contains a build file `meson.build` are either:
- the current working directory
- `build/`
or else, for versions of Meson before 0.42 (when `meson setup` was introduced):
- `setup/`
- `build/`

I believe it is vanishingly unlikely you are using versions of Meson older than 0.42, but at the same time you've strongly indicated that `ls` reports a meson.

[2022-10-20 07:17] lreinecke commented on #141
The meson of my crosscompiler is version 0.53.2
There is an `meson.build` file in the base directory of the project where it should be.
If I only type `meson setup` or `meson build` it finds the `meson.build` but throws the Error `ERROR: Unable to determine dynamic linker`
If I use `strace` it shows, that it looks only in the subdirectories `setup/` and `build/` for the file. There are none and so

[2022-10-21 10:06] lreinecke commented on #141
@eli-schwartz @Bastian-Krause I have found a solution for (all of) my problems. My crosscompiler overwrites the PATH variable in a way that it used a meson-binary with the version 0.53.2. This version didn't work for me. So i had to use the local meson by typing `/usr/bin/meson setup build --cross-file meson.cross`. Then it works fine.

[2022-10-21 10:49] lreinecke opened #142 "Inconsistency in naming variables"
Should the name of `enable_streaming` in the example configuration file in the readme be `stream_bundle` instead? In the code it looks like this: (`src/config-file.c` lines 303-304)
[code]
This should not be a mayor issue but still is  inconsistent if I am right.

[2022-10-21 10:59] Bastian-Krause commented on #142
Thanks for bringing this up, this was caused by the option name discussion in #130. Would you like to prepare a PR to fix this?

[2022-10-21 12:02] lreinecke commented on #142
I have openend PR #143 with the fix

[2022-10-24 11:13] BubuOT opened #147 "Allow overriding pollking time from config"
It would be helpful to have development/staging targets poll hawkbit more often than the server-side defined polling interval (which is set to multiple hours so we save mobile bandwidth).

Our development targets are connected via an ethernet connection though and it would ease the testing workflow if we could tell those to just poll hawkbit every minute instead.

[2022-10-24 17:10] ejoerns commented on #147
Since the config value provided by the DDI is only refered to as the '*suggested sleep time between polls*' it also sounds reasonable to me to override this wish if we know better.

[2022-10-26 12:21] Bastian-Krause commented on #147
If this is testing-specific, maybe this should be a command line option rather than a config option?

[2022-10-26 12:28] BubuOT commented on #147
That wouldn't work that well for us as the config file is device-specific (so can be different on test-devices) but the service invocation is defined in the firmware and identical on all our devices.

[2022-11-03 14:00] BubuOT commented on #137
I've encountered another question/problem regarding reboots. We sometimes update our recovery partition via a separate update bundle (because it's updated a lot less frequently than the main system. Restarting after this bundle is installed makes of course no sense because we won't boot into the newly installed system.

I wonder how this could be solved though, any ideas?

[2022-11-03 14:20] Bastian-Krause commented on #147
Hm, okay, I think we could also add that to the config.

I am not sure whether this should override the poll time announced by hawkBit or if we should use the lowest value?

[2022-11-03 14:37] Bastian-Krause commented on #137
I don't think `post_update_reboot=true` or any similar mechanism should be used in such a case.

I'd opt for some kind of application/daemon that can either be notified via a [post-install handler](https://rauc.readthedocs.io/en/latest/using.html#system-based-customization-handlers) or is subscribed to [D-Bus signals/properties](https://rauc.readthedocs.io/en/latest/reference.html#d-bus-api). A ha

[2022-11-03 14:46] Bastian-Krause commented on #147
Makes sense. PR welcome :)

[2022-11-07 09:46] dcd-arnold opened #149 "Fail to download artifact: g_file_test: assertion 'filename != NULL' failed"
Hi,

I am running the rauc-hawkbit-updater v1.3 together with hawkbit 0.3.0M7.
When I configure a rollout the `rauc-hawkbit-updater` crashes with:
[code]

**Settings and Log:**
[rauc-hawkbit-updater.conf](https://github.com/rauc/rauc-hawkbit-updater/files/9950151/rauc-hawkbit-updater.conf.txt)
[fail-rauc-hawlbit-updater.log](https://github.com/rauc/rauc-hawkbit-updater/files/9950152/fail-rauc-hawl

[2022-11-07 10:17] ejoerns commented on #149
Having a short look at this I bet you run into `process_deployment_cleanup()` being called unconditionally even if using streaming where `hawkbit_config->bundle_download_location` might not be set:
https://github.com/rauc/rauc-hawkbit-updater/blob/b772772f913892432838f7e4b4b6086628782d6c/src/hawkbit-client.c#L780

A workaround for you should be to set `bundle_download_location = /any/path` in your

[2022-11-07 10:37] dcd-arnold commented on #149
Thanks for getting back to me that quickly. Adding `bundle_download_location = <something>` to the config helped. The documentation said *Option can be ommited if stream_bundle is enabled.*

[2022-11-14 08:40] #149 closed

[2022-11-23 13:25] zyga opened #151 "rauc-hawkbit-updater with streaming can easily exceed hawkbit quota on action updates"
Hawkbit has a default quota, that each action can have up to 1K status updates.

With streaming enabled, this nearly instantly overflows the quota with a sufficiently large image.

[2022-11-23 13:33] ejoerns commented on #151
Yes, this is known. We have documented here how to properly configure hawkbit for streaming:

https://rauc-hawkbit-updater.readthedocs.io/en/latest/reference.html (under `stream_bundle` option).

Probably its not the most visible place :smirk:

[2022-11-23 13:36] Bastian-Krause commented on #151
See also https://github.com/eclipse/hawkbit/issues/1249

[2022-11-23 13:46] zyga commented on #151
I just returned to comment on the issue that this is indeed much better documented in master. Sorry about the noise.

https://github.com/rauc/rauc-hawkbit-updater/commit/8728e989b740933c14f43dfcce66df75c393cc4f

[2022-11-23 13:47] zyga commented on #151
As an important bit of context, the problem is not fixable here, because it is hawkbit itself that is generating the extra status entries in response to range requests. The only way, at the moment, to avoid this is to disable the quota inside hawkbit (which is not great) or to somehow force hawkbit to provide a 3rd-party (e.g. CDN) URL for the artifact.

[2022-11-23 13:47] #151 closed

[2022-11-29 07:49] Sourabh-ALTEN opened #152 "SSL peer certificate or SSH remote key was not OK"
Hello,

I have a `rauc-hawkbit-updater` client setup to download software artifacts from HawkBit server. But, I am getting below error from `rauc-hawkbit-updater` about SSL verification. The same client is also present on other devices and communicating to same HawkBit server. And `rauc-hawkbit-updater` is working fine on them.
[code]

The client is part of `systemd` service and is called like
`/u

[2022-11-29 12:38] Bastian-Krause commented on #152
Hi,

This does not sound right. Where are you putting the `-d`? If you are modifying the systemd service, you need to `systemctl daemon-reload` and then restart your service. Anyway, this won't help you with your issue.

https://curl.se/libcurl/c/CURLOPT_VERBOSE.html states that "you hardly ever want this set in production use, you will almost always want this when you debug/report problems." I co

[2022-11-30 14:15] Sourabh-ALTEN commented on #152
Hi @Bastian-Krause thank you for the update.
Yes, indeed it was related to Hawkbit server certificate. Issue is resolved now.

[2022-11-30 14:15] #152 closed